<h1> <%= @doctor.name %></h1>
<p> Specialty: <%= @doctor.specialty %> </p>
<p> Alma Mater: <%= @doctor.university %> </p>
<p> Hospital: <%= @doctor.hospital_name %> </p>
<h2> Patients </h2>
<ol> 
<% @doctor.patients.each do |patient| %>
  <li id="patient-<%= patient.id %>"><%= patient.name %>
  <%= link_to 'Remove patient from caseload', 
            doctor_patient_path(id: patient.id, doctor_id: @doctor.id), 
            method: :delete %></li>
<% end %>
</ol>